@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9CAF88;
  --color-secondary: #3b4b21;
  --color-accent: #FADADD;
  --color-accent-content: #2C3E50;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));